* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

section {
  padding-top: 100px;
}

button {
  cursor: pointer;
}

.btn-o {
  border: none;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  border: 2px solid #5986e3;
  color: #5986e3;
  padding: 17px 22px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.btn {
  padding: 20px 45px;
  text-transform: uppercase;
  background-color: #5986e3;
  color: #fff;
  border: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.btn-order {
  height: 70px;
  width: 300px;
}

.button__catalog {
  background-color: #5986e3;
  height: 30px;
  border: none;
  padding: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
}

.button_fitting {
  min-width: 140px;
  background-color: #ffffff;
  color: #6a99e9;
}

.button_add {
  background-color: #6a99e9;
}

.button_like {
  background-color: #417cde;
}

.bg-color {
  background: #f1f1f1;
}

@media (max-width: 1199px) {
  .btn-order {
    height: 60px;
    width: 250px;
  }
}

@media (max-width: 991px) {
  .btn {
    font-size: 15px;
    padding: 20px 25px;
  }
  .btn-order {
    height: 60px;
    width: 200px;
  }
}

@media (max-width: 576px) {
  section {
    padding-top: 80px;
  }
  .btn-o {
    display: none;
  }
}

@media (max-width: 376px) {
  .btn {
    font-size: 14px;
    padding: 20px 20px;
  }
  .btn-order {
    padding: 20px 0px;
    width: 100%;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  min-height: 80px;
}

.navbar__logo {
  margin-right: 200px;
}

.navbar__mobile {
  text-align: right;
}

.navbar__phone {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 19px;
  color: #262626;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar__text {
  font-size: 14px;
  color: #6b6b6b;
}

.navbar__mail {
  text-decoration: none;
  color: #6b6b6b;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #5986e3;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.menu_active {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  border: 1px solid #ffffff;
  margin: 5px;
  padding: 14px 10px;
}

.menu-button {
  position: relative;
  height: 80px;
  width: 70px;
  border: none;
  background-color: transparent;
  border-right: 1px solid #ede6f8;
  border-left: 1px solid #ede6f8;
  cursor: pointer;
}

.menu-button__line {
  position: absolute;
  height: 3px;
  width: 20px;
  margin-top: -1px;
  margin-left: -10px;
  border-radius: 2px;
  background-color: #5986e3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-button__line:nth-child(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.menu-button__line:nth-child(3) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.line_active span:nth-child(1) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line_active span:nth-child(2) {
  height: 0;
}

.line_active span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.logo__title {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 5px;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #6b6b6b;
}

@media (max-width: 1199px) {
  .navbar__logo {
    margin-right: 0;
  }
  .menu__link {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .navbar__mobile {
    display: none;
  }
  .menu__link {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 280px;
  }
  .menu__nav {
    overflow: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu__link {
    min-width: 220px;
    text-align: center;
    font-size: 13px;
    margin: 12px;
  }
}

@media (max-width: 576px) {
  .logo {
    margin: auto;
  }
}

@media (max-width: 376px) {
  .menu {
    width: 100%;
  }
  .logo__title {
    font-size: 16px;
  }
  .logo__description {
    font-size: 12px;
  }
}

.hero {
  background: #f1f1f1 url("../img/hero/hero-bg.jpg") no-repeat 60%;
  background-size: cover;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 40px;
  font-size: 30px;
}

.hero-price {
  display: block;
  margin-bottom: 70px;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 1199px) {
  .hero {
    background-position: top left 30%;
  }
}

.order {
  padding: 120px 0;
}

.order-block {
  background: #ffffff url(../img/order/form-bg.png) no-repeat right;
  padding: 50px;
}

.order__block {
  margin-top: -180px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.order__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.order__description {
  display: block;
  font-size: 21px;
  margin-bottom: 45px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 900px;
  margin-bottom: 25px;
}

.form__input {
  width: 100%;
}

.form__order {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label:before {
  background-color: #5986e3;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  border: 1px solid #dddddd;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.input {
  height: 70px;
  width: 300px;
  padding: 30px;
  border: 1px solid #dddddd;
}

@media (max-width: 1199px) {
  .form__row {
    min-width: 800px;
  }
  .form__order {
    font-size: 14px;
  }
  .input {
    height: 60px;
    width: 250px;
  }
  .order__title {
    font-size: 20px;
  }
  .order__description {
    font-size: 17px;
  }
  .checkbox-label:before {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .form__row {
    min-width: 600px;
  }
  .form__order {
    font-size: 14px;
  }
  .input {
    height: 60px;
    width: 200px;
  }
  .order-block {
    background: #ffffff url(../img/order/form-bg.png) no-repeat 450px;
  }
  .order__title {
    font-size: 20px;
  }
  .order__description {
    max-width: 500px;
    font-size: 17px;
  }
  .checkbox-label:before {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 80%;
  }
  .form__order {
    font-size: 14px;
  }
  .form__group {
    width: 80%;
    margin-bottom: 15px;
  }
  .input {
    height: 60px;
    width: 100%;
  }
  .order {
    padding: 70px 0;
  }
  .order-block {
    background: #ffffff url(../img/order/form-bg.png) no-repeat 400px;
    background-size: contain;
  }
  .order__title {
    font-size: 20px;
  }
  .order__description {
    max-width: 500px;
    font-size: 17px;
  }
}

@media (max-width: 576px) {
  .form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 100%;
    margin-bottom: 0;
  }
  .form__group {
    width: 100%;
  }
  .form__checkbox {
    margin-bottom: 20px;
  }
  .input {
    width: 100%;
  }
  .order-block {
    background: #ffffff;
  }
  .order__title {
    font-size: 18px;
  }
  .order__description {
    max-width: 500px;
    font-size: 14px;
  }
  .checkbox-label:before {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.section__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-top: 0px;
  margin-bottom: 100px;
}

.advantage_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.advantage__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__block__item {
  -ms-flex-preferred-size: 33.334%;
      flex-basis: 33.334%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 758px) {
  .advantage__block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .section__title {
    font-size: 25px;
    margin-bottom: 80px;
  }
}

@media (max-width: 376px) {
  .advantage__block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.catalog {
  background-color: #f1f1f1;
  padding-bottom: 100px;
}

.catalog__description {
  text-align: center;
}

.catalog__bottom__button {
  display: block;
  margin: 50px auto 30px;
}

.catalog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__item {
  position: relative;
  max-height: 130px;
  max-width: 570px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

.catalog__item:hover .catalog__item__buttons {
  right: 0;
}

.catalog__item__text {
  position: absolute;
  background-color: rgba(80, 127, 225, 0.6);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px;
  margin: 10px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog__item__buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: -250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1199px) {
  .catalog__item {
    max-width: 465px;
  }
}

@media (max-width: 991px) {
  .catalog__item {
    max-width: 360px;
  }
}

@media (max-width: 768px) {
  .catalog__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__item {
    max-width: 550px;
  }
}

.asset {
  padding-bottom: 100px;
}

.asset__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.asset__row, .asset__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asset__read-more {
  color: #5986e3;
}

.asset__item {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
}

.asset__img {
  min-width: 280px;
  min-height: 200px;
  background-position: center center;
  background-size: cover;
}

.asset__text {
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}

.price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */