body
    +light
    color: $text-color
button:active, button:focus
    outline: none !important

button::-moz-focus-inner
    border: 0 !important
section
    padding-top: 100px
button
    cursor: pointer
.btn-o
    border: none
    background-color: transparent
    font-size: 12px
    text-transform: uppercase
    border: 2px solid $text-color-blue
    color: $text-color-blue
    padding: 17px 22px
    +bold
.btn
    padding: 20px 45px
    text-transform: uppercase
    background-color: $text-color-blue
    color: #fff
    border: none
    +bold
    &-order
        height: 70px
        width: 300px
.button

    &__catalog
        background-color: $text-color-blue
        height: 30px
        border: none
        padding: 10px
        font-size: 11px
        text-transform: uppercase
        color: #ffffff
    &_fitting
        min-width: 140px
        background-color: #ffffff
        color: #6a99e9
    &_add
        background-color: #6a99e9
    &_like
        background-color: #417cde
        

.bg-color
    background: $bg-color

@media (max-width: 1199px)
    .btn
        &-order
            height: 60px
            width: 250px
@media (max-width: 991px)
    .btn
        font-size: 15px
        padding: 20px 25px
        &-order
            height: 60px
            width: 200px
@media (max-width: 768px)
    section
        padding-top: 60px
@media (max-width: 576px)
    section
        padding-top: 40px
    .btn-o     
        display: none
@media (max-width: 376px)
    .btn
        font-size: 14px
        padding: 20px 20px
        &-order
            padding: 20px 0px
            width: 100%

