body
    +light
    color: $text-color
.btn-o
    border: none
    background-color: transparent
    font-size: 12px
    text-transform: uppercase
    border: 2px solid $text-color-blue
    color: $text-color-blue
    padding: 17px 22px
    +bold
.btn
    padding: 20px 45px
    text-transform: uppercase
    background-color: $text-color-blue
    color: #fff
    border: none
    +bold     


