.section
    background: #fafbfc
.section__title 
.title-contact 
.contact-block
    display: flex
    justify-content: space-around
    align-items: center
    text-align: center 
.contact-block__column

.contact-block__link 
    display: block
    text-decoration: none
    color: #000
    font-size: 16px
    margin: 26px
    margin-bottom: 43px
