.section 
.section-factory
    background: #ffffff
    padding-bottom: 100px
    padding-top: 90px 
.container 
.section-title 
.factory-title 
.factory-block
    display: flex
    justify-content: center
.factory-block__img 
.factory-block__text
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 70px
    max-width: 520px
    font-size: 20px
    line-height: 31px
@media (max-width: 991px)
    .factory-block__text
        font-size: 16px
// @media (max-width: 768px)

// @media (max-width: 576px)

