footer
    background-color: #262626
    color: #ffffff
.footer-block
    display: flex
    justify-content: space-between
    padding-top: 40px
.footer-block__title
    flex: 0 1 25%
.footer__title
    display: block
    text-transform: uppercase
    font-size: 18px
    +bold
.footer__description
    display: block
    font-size: 12px
    margin-bottom: 49px 
.footer__small-description
    font-size: 14px
    display: block
    margin-bottom: 40px
    color: #767676
.footer-block__pay
    flex: 0 1 30%
.footer-pay__img
    margin-right: 20px
.footer-info
    display: flex
    flex-direction: column
    align-items: flex-end
.footer-info a
    text-decoration: none
    color: #fff
    margin-bottom: 16px 
.footer-info__tel
    font-size: 20px
    +bold
.footer-info__mail
    font-size: 16px
    border-bottom: 1px solid #5c5c5c 
.footer-info__social img
    height: 25px
    width: 25px

@media (max-width: 768px)
    .footer-info a
        font-size: 14px
    .footer__title
        font-size: 16px
    .footer__description
        font-size: 12px
        margin-bottom: 19px 
    .footer__small-description
        font-size: 12px
        margin-bottom: 20px


@media (max-width: 576px)
    .footer-block
        flex-wrap: wrap
        padding-top: 10px
        &__title
            order: 2
            text-align: center
        &__title,&__pay,&__info
            flex: 0 1 100%
        &__pay
            display: none
    .footer-info
        order: 1
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-around
        align-items: flex-start
    .footer-info a
        display: block
        margin: 10px
    

 