.section-stages
    background-color: $bg-color
    padding-bottom: 100px 
.work-stage
    display: flex
    justify-content: space-between 
.work-stage__column
    flex: 0 1 14.1% 
    text-align: center
    margin: 10px 0
@media (max-width: 1199px)
    p
        font-size: 16px

@media (max-width: 991px)
    p
        font-size: 14px
@media (max-width: 768px)
    .section-stages
        padding-bottom: 50px
    .work-stage
        justify-content: space-around
        flex-wrap: wrap
    .work-stage__column
        flex: 0 1 40%
@media (max-width: 376px)
    .work-stage__column
        flex: 0 1 80%

    