.section-stages
    background-color: $bg-color
    padding-bottom: 100px 
.work-stage
    display: flex
    justify-content: space-between 
.work-stage__column
    flex: 0 1 14.1% 
    text-align: center
    